@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Protest+Strike&family=Sen:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main__wrapper {
  background: url(https://www.axelerant.com/hubfs/Home-bg-circle.svg) no-repeat left top;
  background-size: cover;
}

.main__wrapper .cs-main-container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}

.cs-main-container .cs-chat-container {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Protest Strike', sans-serif;
  font-weight: bold;
}

.main__wrapper .cs-main-container {
  border: 0;
}

.main__wrapper .cs-message-list {
  padding-bottom: 10px;
}

.cs-message-group__messages .cs-message .cs-message__content {
  font-family: "Open Sans", sans-serif;
}

.main__wrapper .cs-message-group--incoming .cs-message-group__messages .cs-message .cs-message__content {
  background-color: #fc4c02;
  color: #fff;
}

.main__wrapper .cs-message-group--outgoing .cs-message-group__messages .cs-message .cs-message__content {
  background-color: rgba(255, 213, 85, 1);
}

.message__wrapper {
  display: flex;
  align-items: center;
}

.main__wrapper .cs-chat-container .cs-message-input {
  border-top: 1px solid #fc4c02;
  background-color: transparent;
  padding: 20px 0 0;
}

.main__wrapper .cs-message-group {
  margin-top: 10px;
}

.main__wrapper .cs-message-group__avatar {
  justify-content: flex-start;
}

.cs-message-list .cs-message-separator {
  font-family: 'Protest Strike', sans-serif;
  color: #fc4c02;
}

.cs-message-group--outgoing .cs-message-group__footer {
  margin-left: auto;
}

.cs-message-input .cs-message-input__content-editor-wrapper {
  background-color: #ffd554;
}

.main__wrapper .cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper:first-child {
  margin-left: 0;
}

.cs-message-input .cs-message-input__content-editor {
  background-color: #ffd554;
}

.cs-message-input .cs-message-input__content-editor[data-placeholder]:empty:before {
  color: rgba(0, 0, 0, 0.5);
}

.cs-message-input .cs-button--send {
  color: #fc4c02;
}
